/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/


/*

Variables

*/
$primaryColor1: #5507B2;
$primaryColor2: #8D2CFF;
$primaryColor3: #7F13FF;
$secondaryColor1: #B2B000;
$secondaryColor2: #FFFC13;

/*

Helpers 

*/
.pull-right{ float: right; }
.pull-left { float: left; }

body{
  font: normal 18px/1.4 Helvetica Neue, Helvetica, Arial, serif;
  background: #ddd;
}

core-toolbar{
	background-color: $primaryColor1;;
	color: white;
}

.container{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.btn{
	background: #ccc;
}