<template name="TripsCreate">
  <core-toolbar class="tall">
    <paper-icon-button icon="menu"></paper-icon-button>
    <div class="middle indent">Ummmbrella</div>
    <span flex></span>
    <paper-icon-button icon="menu"></paper-icon-button>
  </core-toolbar>
  <form>

      

      <paper-input-decorator label="Origin" floatingLabel>
          <input is="core-input" id="TripsCreate--origin-field">
      </paper-input-decorator>

      <paper-input-decorator label="Destination" floatingLabel>
          <input is="core-input" id="TripsCreate--destination-field">
      </paper-input-decorator>

      <input id="trip-leavingDate" value="{{selectedDate}}" 
        readonly class="date">
      <!-- <polymer-date-picker 
        id="datepicker-leaving" selectedDate="{{selectedDate}}" relatedTarget="trip-leavingDate" opened="false"></polymer-date-picker> -->
      
      <paper-checkbox id="TripsCreate--one-way"></paper-checkbox>
      <core-label for="TripsCreate--one-way">
          Is this a one-way trip?
      </core-label>
      
      <paper-icon-button type="submit">Submit</paper-icon-button>

      Test: {{destination}}

  </form>

</template>