<template name="TripsIndex">
  <h1>Ummmbrella</h1>
  <h2>Weather for your travels</h2>

  {{> Simpleweather}}
</template>


<template name="form">
	
	<form>
		<paper-checkbox checked></paper-checkbox>
		<div class="form-control">
			<label for="input-destination">Destination</label>
			<input name="input-destination" type="text" value="" placeholder="Where ya headed?">	
		</div>

		<div class="form-control">
			<label for="input-leaving">Leaving</label>
			<input type="datetime" value="">
		</div>

		<input type="submit">
		
	</form>

</template>


